*{
    margin:0;
    padding: 0;
    box-sizing: border-box;   
}
body{

    background-color:linear;
    font-family: segeo ui,sans-serif;
    text-align: center;
    line-height: 1.6;
}
header{
    background:#111;
    color: white;
    padding: 15px;
    background: #eee;
}

h1{
    color: red;

}
h5{
    color: black;
}
.frmcontainer{
    width: 300px;
    background-color: skyblue;
    border-radius: 12px;
    padding: 20px;
    margin: 80px,auto;
    text-align: center;
}
.grpcontainer{
    margin-bottom: 8px;
    border-radius: 8px;
}
